html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

textarea, input {
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.App_body {
    display: flex;
}